In [2]:
import pandas as pd

Создание id

In [3]:
df = pd.read_csv('auto.csv', index_col='ID')
df.head()

       CarNumber  Make_n_model  Refund   Fines  History
ID
0   Y163O8161RUS    Ford Focus     2.0  3200.0      NaN
1    E432XX77RUS  Toyota Camry     1.0  6500.0      NaN
2    7184TT36RUS    Ford Focus     1.0  2100.0      NaN
3   X582HE161RUS    Ford Focus     2.0  2000.0      NaN
4   E34877152RUS    Ford Focus     2.0  6100.0      NaN

Количество наблюдений

In [4]:
df.count()

CarNumber       931
Make_n_model    931
Refund          914
Fines           869
History          82
dtype: int64

Удаление дубликатов

In [7]:
df = df.drop_duplicates(subset=['CarNumber', 'Make_n_model', 'Fines'], keep="last")
df.count()

CarNumber       725
Make_n_model    725
Refund          713
Fines           665
History          65
dtype: int64

## Работа с пропущенными значениями

смотрим пропущенные значения

In [8]:
df.isnull().sum()

CarNumber         0
Make_n_model      0
Refund           12
Fines            60
History         660
dtype: int64

Удаляем пропуски >500

In [11]:
df.dropna(axis = 1 , thresh = 500 , inplace = True )
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund          12
Fines           60
dtype: int64

Заменяем в Refund

In [14]:
df.Refund.fillna(method='ffill', inplace=True)
df.isnull().sum()

CarNumber        0
Make_n_model     0
Refund           0
Fines           60
dtype: int64

Заменяем в Fines

In [15]:
df.Fines.fillna(df.Fines.mean(), inplace=True)
df.isnull().sum()

CarNumber       0
Make_n_model    0
Refund          0
Fines           0
dtype: int64

Разделение Make_n_model на Make и Model по пробелу и удаление Make_n_model

In [18]:
new = df.Make_n_model.str.split(" ", n = 1, expand = True)
df['Make'] = new[0]
df['Model'] = new[1]
df.drop('Make_n_model', axis=1, inplace=True)
df

        CarNumber  Refund         Fines    Make    Model
ID
0    Y163O8161RUS     2.0   3200.000000    Ford    Focus
1     E432XX77RUS     1.0   6500.000000  Toyota    Camry
2     7184TT36RUS     1.0   2100.000000    Ford    Focus
3    X582HE161RUS     2.0   2000.000000    Ford    Focus
5    92918M178RUS     1.0   5700.000000    Ford    Focus
..            ...     ...           ...     ...      ...
926  Y163O8161RUS     2.0   1600.000000    Ford    Focus
927  M0309X197RUS     1.0  22300.000000    Ford    Focus
928  O673E8197RUS     2.0    600.000000    Ford    Focus
929  8610T8154RUS     1.0   2000.000000    Ford    Focus
930  H419XE197RUS     2.0   8594.586466  Toyota  Corolla

[725 rows x 5 columns]

Сохраняем в новый файл

In [19]:
df.to_json('auto.json', orient='records')